/*.select_text {*/
/*  color: #f16d7f;*/
/*}*/

label {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

button {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.headeng-mini {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.center {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
}

@media (max-width: 1200px) {
  .center {
    padding-right: calc(50% - 480px);
    padding-left: calc(50% - 480px);
  }
}

@media (max-width: 1023px) {
  .center {
    padding-right: calc(50% - 368px);
    padding-left: calc(50% - 368px);
  }
}

@media (max-width: 768px) {
  .center {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes rotat {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotat {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.brand {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 28px 21px;
          transform-origin: 28px 21px;
}

.brand:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.header__search {
  margin-left: 41px;
}

.header__link:not(:last-child) {
  margin-right: 33px;
}

.check__menu {
  visibility: hidden;
}

.switch__menu {
  cursor: pointer;
}

.top {
  position: relative;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu {
  -webkit-animation: opacity 0.3s;
          animation: opacity 0.3s;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 75px;
  bottom: 0;
  right: 0;
  left: 0;
}

.menu__height {
  bottom: unset;
}

.menu__box {
  display: -ms-grid;
  display: grid;
  /*-ms-grid-columns: (minmax(0, 1140px))[1];*/
      grid-template-columns: repeat(1, minmax(0, 1140px));
  margin-left: calc(50% - 570px);
  height: 100%;
}

.menu__block {
  -ms-grid-column: 2;
      grid-column-start: 2;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 16px;
}

.menu__heading {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 12px;
}

.menu__heading:first-child {
  font-weight: bold;
  margin-bottom: 24px;
}

.menu__link {
  display: block;
  margin-left: 24px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-bottom: 11px;
}

.menu__link:hover {
  color: #f16d7f;
}

.menu__icon {
  display: none;
}

.check__menu:checked ~ .menu {
  display: block;
}

.promo {
  background: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__photo {
  width: 100%;
}

.promo__text {
  width: 50%;
}

.promo__content {
  margin-top: 40%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.promo__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__info {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.select {
  color: #f16d7f;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.sale__img {
  width: 100%;
}

.sale__item {
  position: relative;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.sale__item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.sale__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale__item:not(:last-child) {
  margin-right: 30px;
}

.sale__p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.sale__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.product_heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.product_heading + p {
  font-weight: normal;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

/* Fetured Items */
.product__cards {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  position: relative;
  width: 360px;
  background: #f8f8f8;
}

.product__text {
  padding: 24px 18px;
}

.product__img {
  width: 100%;
}

.product__name {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-top: 18px;
}

.product__button {
  text-align: center;
}

.product__button a {
  display: inline-block;
  text-align: center;
  border: 1px solid #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 38px;
}

.product__button a:hover {
  background: #f16d7f;
  color: #ffffff;
}

/* hover */
.button-cart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.product__cart {
  display: none;
  width: 138px;
  height: 43px;
  position: absolute;
  top: 188px;
  left: 111px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.product__cart img {
  margin-right: 11px;
}

.product__card:hover .product__img {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.product__card:hover .product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__cart:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

/* advantage */
.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 104px;
  padding-bottom: 104px;
  background: #222224;
  margin-top: 96px;
}

.advantage div {
  max-width: 360px;
  text-align: center;
}

.advantage__heading {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 24px;
  margin-bottom: 16px;
}

.advantage p {
  color: #fbfbfb;
}

/* subscribe */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 96px;
  padding-bottom: 160px;
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.subscribe__person {
  max-width: 360px;
  text-align: center;
}

.subscribe__person__p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 32px;
}

.subscribe__person__p span {
  font-style: italic;
}

.subscribe__form {
  width: 50%;
}

.subscribe__heading,
.subscribe__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
}

.subscribe__text {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 32px;
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 260px;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  background: #e1e1e1;
  border: none;
  padding: 16px 24px;
  outline: none;
}

::-webkit-input-placeholder {
  opacity: 0.67;
}

:-ms-input-placeholder {
  opacity: 0.67;
}

::-ms-input-placeholder {
  opacity: 0.67;
}

::placeholder {
  opacity: 0.67;
}

.subscribe__button {
  width: 100px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  background: #f16d7f;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  outline: none;
}

.subscribe__button:hover {
  cursor: pointer;
  background: #e05c6e;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer__link {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer__link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer__link:hover path:first-child {
  fill: #f16d7f;
}

.footer__link:hover path:last-child {
  fill: white;
}

.category {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f3f4;
}

.category__name {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.crumb a {
  color: #636363;
}

.crumb__item:not(:last-child)::after {
  content: "/";
  padding-right: 5px;
  padding-left: 5px;
}

.crumb .active {
  font-weight: bold;
  color: #f16d7f;
}

.crumb a:hover {
  color: #f16d7f;
}

/* filters */
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-bottom: 64px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filters_center {
  margin-left: 390px;
}

.filters-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  color: #6f6e6e;
}

summary {
  outline: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.filter__categories {
  position: absolute;
}

.filter__categories[open] {
  position: absolute;
  width: 360px;
  padding-top: 16px;
  z-index: 1;
  top: 40px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #f16d7f;
}

.filter__categories[open] .open__filter {
  fill: #f16d7f;
}

.filter__summary {
  padding-left: 16px;
}

.filter__summary svg {
  padding-left: 11px;
}

.filter__nav {
  margin: 16px;
}

.filter__nav a:hover {
  color: #f16d7f;
}

.filter__nav details {
  margin-top: 16px;
}

.filter__nav summary {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 12px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
}

.filter__link {
  list-style-type: none;
  padding: 24px 17px;
  padding-bottom: 12px;
}

.filter__link a {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter__link li:not(:last-child) {
  margin-bottom: 11px;
}

.filters-down details {
  margin-right: 18px;
}

.filters__summary_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
}

.filters__center__trending summary {
  padding-left: 0;
}

.filters__after::after {
  content: url(../img/arrow_dw.svg);
  margin-left: 10px;
  margin-bottom: 2px;
}

.filters__box_position {
  position: absolute;
  z-index: 1;
  padding: 10px 30px 0 10px;
  margin-top: 5px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filters__box_position label {
  display: block;
  line-height: 16px;
}

.filters__box_position input {
  margin-right: 8px;
  margin-bottom: 10px;
}

.filters__box_first {
  padding-right: 10px;
}

/*.filters__box_position:first-of-type {*/
/*  padding-right: 10px;*/
/*}*/

/* pagination */
.pagination {
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 16px;
  list-style-type: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #c4c4c4;
}

.pagination__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination__link__locate {
  color: #ef5b70;
}

.pagination__link:hover {
  color: #f16d7f;
}

.pagination__dot {
  margin-left: -17px;
  margin-right: -17px;
  letter-spacing: 1px;
}

label {
  cursor: pointer;
}

/* product */
.description__carousel {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #f7f7f7;
}

.description__carousel a {
  position: absolute;
  min-width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.description__carousel-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__img {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 42px;
}

.description__content {
  position: relative;
  top: -64px;
  background: white;
  border: 1px solid #eaeaea;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.description__heading-mini {
  text-align: center;
  color: #f16d7f;
}

.description__underline {
  width: 63px;
  height: 3px;
  border: none;
  color: #f16d7f;
  background-color: #f16d7f;
  margin: 12px auto;
}

.description__heading {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.description__text {
  text-align: center;
  max-width: 555px;
  margin: 0 auto 32px;
}

.description__price {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 64px;
}

.description__rule {
  max-width: 641px;
  border: 1px solid #eaeaea;
  border-bottom: none;
  margin: 0 auto;
}

.description__filters {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
  margin-bottom: 48px;
}

.description__summ {
  font-size: 14px;
  line-height: 17px;
}

.description__cart {
  color: #f16d7f;
  font-size: 16px;
  line-height: 19px;
  width: 211px;
  height: 48px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ff6a6a;
}

.description__cart_img {
  margin-right: 22px;
}

.description__cart_img path {
  fill: #f16d7f;
}

.description__cart:hover {
  color: white;
  background-color: #f16d7f;
}

.description__cart:hover .description__cart_img path {
  fill: white;
}

.filters__box_quanity {
  padding-right: 10px;
}

.filter__quanity {
  width: 88px;
  margin-right: 0 !important;
  outline: none;
}

label {
  cursor: pointer;
}

/* cart */
ul {
  list-style-type: none;
}

.form {
  max-width: 360px;
}

.form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  color: #222222;
}

.form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.form__input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.form__radio {
  margin-right: 10px;
}

.form__butt {
  border: 1px solid #a4a4a4;
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.cart-block {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-block__left {
  margin-right: 32px;
}

.cart-block__right {
  padding-top: 16px;
}

.cart-block__form {
  padding-bottom: 58px;
}

.cart-block__input {
  margin-bottom: 24px;
}

.cart-block__butt:hover {
  background-color: rgba(33, 184, 96, 0.514);
}

.item-cart {
  width: 652px;
}

.item-cart__box-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.item-cart__butt {
  width: 234px;
  height: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #a4a4a4;
}

.item-cart__butt:hover {
  background-color: #f8f3f4;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

.order__box-img {
  max-width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__img {
  width: 100%;
}

.order__descrip {
  padding: 24px 32px;
}

.order__name {
  display: block;
  color: #222222;
  max-width: 262px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
}

.order__param {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.order__param_quantity {
  width: 42px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #eaeaea;
  margin-left: 24px;
}

.order__param_quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.butt-clouse {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  right: 22px;
}

.butt-clouse__img {
  width: 100%;
}

.butt-clouse:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.checkout {
  max-width: 360px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 39px 44px 42px;
  background: #f5f3f3;
}

.checkout__content {
  text-align: right;
  margin-bottom: 21px;
}

.checkout__cost:first-child {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.checkout__cost:last-child {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.checkout__cost_money:last-of-type {
  font-weight: bold;
}

.checkout__cost_money:first-child {
  margin-left: 24px;
}

.checkout__cost_rule {
  display: inline-block;
  width: 24px;
  border: 1px solid #c4c4c4;
  border-bottom: none;
}

.checkout__rule {
  border: 1px solid #e2e2e2;
  border-bottom: none;
}

.checkout__butt {
  width: 100%;
  height: 50px;
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #f16d7f;
}

.checkout__butt:hover {
  background-color: #e05c6e;
}

label {
  cursor: pointer;
}

/* registraton */
.registrtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registrtn__label {
  margin-right: 20px;
}

.registrtn__input {
  margin-bottom: 32px;
}

.registrtn__input:last-of-type {
  margin-bottom: 16px;
}

.registrtn__heading {
  margin-top: 32px;
}

.registrtn__butt {
  width: 168px;
  height: 50px;
  margin-top: 40px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #f16d7f;
}

.registrtn__butt:hover {
  background: #e05c6e;
}

.registrtn__butt-img {
  padding-left: 20px;
}

.registrtn__content {
  margin-left: 22px;
  max-width: 652px;
}

.registrtn__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registrtn__p {
  margin-top: 22px;
  margin-bottom: 22px;
}

.check__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.check__list::before {
  content: url(../img/check.svg);
  margin-right: 24px;
}

label {
  cursor: pointer;
}

/* adaptive */
@media (max-width: 1340px) {
  .menu_table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__link {
    margin-left: 0;
  }
  .menu__category:not(:first-child) {
    margin-left: 24px;
  }
}

@media (max-width: 1200px) {
  /* catalog */
  .filters_center {
    margin-left: auto;
  }

  .product__card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1023px) {
  /* index */
  .promo__heading {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__info {
    font-size: 24px;
    line-height: 29px;
  }
  .promo__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sale {
    padding-top: 20px;
    padding-bottom: 154px;
  }
  .sale__item:not(:last-child) {
    margin-right: 18px;
  }
  .sale__top {
    padding-bottom: 18px;
  }
  .product_heading + p {
    margin-bottom: 72px;
  }
  .product__cards {
    gap: 16px;
    margin-bottom: 32px;
  }
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
    background: #222224;
    margin-top: 64px;
  }
  .advantage div:not(:last-child) {
    margin-bottom: 48px;
  }
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 54px;
    padding-bottom: 140px;
  }
  .subscribe__person {
    margin-bottom: 48px;
  }
  .subscribe__form {
    width: 100%;
  }
  /* product */
  .description__carousel-box {
    height: 624px;
  }
  .description__img-box {
    width: 466px;
  }
  .description__img {
    padding-top: 0;
    padding-bottom: 0;
  }
  .description__border {
    border: 1px solid #eaeaea;
    margin-bottom: 64px;
  }
  .description__content {
    top: 0px;
    border: unset;
    margin-bottom: 0;
  }
  /* cart */
  .cart-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 58px;
  }
  .cart-block__left {
    margin-right: 0;
    width: 100%;
  }
  .cart-block__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
    padding-top: 64px;
  }
  .cart-block__form {
    padding-bottom: 0;
  }
  .item-cart__box-butt {
    margin-top: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-cart__butt:first-child {
    margin-right: 84px;
  }
  .checkout {
    margin-top: 38px;
  }
  /* registration */
  .registrtn__text {
    font-size: 16px;
    line-height: 19px;
  }
  .registrtn__p {
    margin-top: 32px;
  }
}

@media (max-width: 667px) {
  /* index */
  .menu {
    -webkit-animation: unset;
            animation: unset;
    display: block;
    bottom: unset;
    top: -100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .menu__height {
    top: -50%;
  }
  .menu__box {
    display: block;
    margin-left: unset;
  }
  .menu__block {
    padding-right: 24px;
    padding-left: 24px;
  }
  .menu__icon {
    display: block;
    padding: 24px;
    background-color: #000;
  }
  .check__menu:checked ~ .menu {
    top: 0px;
  }
  .butt-clouse__img_theme_dark {
    fill: white;
  }
  .header__link_hidden {
    display: none;
  }
  .header__link:last-of-type {
    margin-right: 0;
  }
  .promo__img {
    display: none;
  }
  .promo__text {
    width: 100%;
  }
  .promo__content {
    margin-top: 148px;
    margin-bottom: 148px;
  }
  .promo__heading {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__info {
    font-size: 20px;
    line-height: 24px;
  }
  .sale {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .sale__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sale__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .sale__img_mobil {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product_heading + p {
    margin-bottom: 64px;
  }
  .product__cards {
    margin-bottom: 42px;
  }
  .advantage {
    padding-bottom: 80px;
    margin-top: 96px;
  }
  .subscribe {
    padding-bottom: 108px;
  }
  .subscribe__person {
    margin-bottom: 58px;
  }
  .subscribe__person__p {
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe.subscribe__text {
    margin-bottom: 22px;
  }
  .subscribe__heading,
  .subscribe__text {
    line-height: 154%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 42px;
    padding-bottom: 8px;
  }
  .footer__copyright {
    margin-top: 40px;
  }
  /* catalog */
  .category {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .filters, .filter__nav summary, .filter__link a {
    font-size: 12px;
    line-height: 14px;
  }
  .filter_hidden {
    display: none;
  }
  .filter__img_mobile {
    width: 37.5px;
    height: 25px;
    padding-left: 0 !important;
  }
  .filters-down details {
    margin-right: 14px;
  }
  /* product */
  .description__heading {
    margin-bottom: 32px;
  }
  .description__price {
    margin-bottom: 32px;
  }
  .description__filters {
    margin-top: 48px;
    margin-bottom: 64px;
  }
  .description__rule {
    max-width: 174px;
  }
  .description__summ {
    font-size: 10px;
    line-height: 12px;
  }
  /* cart */
  .category_alone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order {
    margin-bottom: 32px;
  }
  .order__descrip {
    min-width: 214px;
    padding: 14px 16px;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .order__name {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
  .order__param {
    font-size: 14px;
    line-height: 17px;
  }
  .order__param_quantity {
    width: 24px;
    height: 14px;
    font-size: 10px;
    line-height: 12px;
    margin-left: 16px;
  }
  .butt-clouse {
    width: 9px;
    height: 9px;
    top: 16px;
    right: 12px;
    margin-left: 4px;
  }
  .item-cart__box-butt {
    margin-top: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item-cart__butt {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  .item-cart__butt:first-child {
    margin-right: 8px;
  }
  .cart-block {
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .cart-block__right {
    padding-top: 48px;
    gap: 0;
  }
  .cart-block__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* registration */
  .registrtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registrtn__content {
    max-width: 360px;
    margin-top: 40px;
    margin-left: 0;
  }
}

/*const*/

.select_text {
  color: #f16d7f;
}

/*# sourceMappingURL=style.css.map */